.LandingPage {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.LandingPage h2{
  background-color: #393e46;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.LandingPage form{
  padding: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  
}